/*Estilo criados para uma melhor visão para nossa pagina.*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&family=Mulish:wght@600&family=Roboto:ital,wght@0,700;1,400;1,500;1,700&display=swap');
.container{
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
}
.logo-hotel{
    background-color: rgb(65, 127, 185);
    display: flex;
    justify-content: center;
}
.menu{
    background-color: rgb(84, 171, 84);
    height: 50px;
    padding-left: 20px;
}
.menu-itens{
    list-style: none;
    display: inline;
}
.buttons{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(211, 255, 194);
    height: 45px;
    width: 180px;
}

body{
    background-color: rgb(210, 228, 249);
}