/*Estilo criados para uma melhor visão para nossa pagina.*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&family=Mulish:wght@600&family=Roboto:ital,wght@0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&family=Lato:wght@400;700&family=Mulish:wght@600&family=Roboto:ital,wght@0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&family=Lato:wght@400;700&family=Mulish:wght@600&family=Ubuntu:wght@500&display=swap');
.container{
    position: absolute;
    flex-direction: column;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
}
.logo-hotel{
    background-color: rgb(65, 127, 185);
    text-align: center;
}
.menu{
    background-color: rgb(84, 171, 84);
    height: 40px;
    display: flex;
    padding-left: 20px;
    text-align:center;
    align-items: center;
}

/* Partes do corpo do site (textos) */
body{
    background-color: rgb(210, 228, 249);
    box-shadow: 1px 1px 300px #0b4210;
}
/* Imagens */
#apresentacao-imagens-apresentacao{
    background-image: linear-gradient(to bottom, #87ead0, #6dcaab, #5fd39b,#61c4a6, #58c0a1, #42bb93,#3abc91,
    #38bb7a,#36af64,#11a852, #33ad5a,#38a657,#2faf53,#38a657,#33ad5a,#11a852,#36af64,#38bb7a,#3abc91,
    #42bb93, #58c0a1,#61c4a6,#5fd39b,#6dcaab, #87ead0);
    background-attachment: fixed;
    border-radius: 20px;
    display: flex;
    padding: 2%;
    text-align: center;
    align-items: center;
    }
    .integrantes{
        width: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        }
        .resolucao{
            margin: auto;
            display: inline-table;
            max-width: 106px;
            min-width: 64px;
            border-radius: 50%;
        }
#sobre-imagens-sobre{
    background-image: linear-gradient(to bottom, #87ead0, #6dcaab, #5fd39b,#61c4a6, #58c0a1, #42bb93,#3abc91,
    #38bb7a,#36af64,#11a852, #33ad5a,#38a657,#2faf53,#38a657,#33ad5a,#11a852,#36af64,#38bb7a,#3abc91,
    #42bb93, #58c0a1,#61c4a6,#5fd39b,#6dcaab, #87ead0);
    background-attachment: fixed;
    border-radius: 20px;
    height: 500px;
    display: flex;
    align-items: center;
    }
    .imagens-sobre{
        height: 460px;
        display: flex;
        text-align: center;
        align-items: center;
        width: 50%;
        }
        .setas :hover{
            background-color: rgb(108, 190, 113);
        }
#objetivo-imagens-objetivo{
    background-image: linear-gradient(to bottom, #87ead0, #6dcaab, #5fd39b,#61c4a6, #58c0a1, #42bb93,#3abc91,
    #38bb7a,#36af64,#11a852, #33ad5a,#38a657,#2faf53,#38a657,#33ad5a,#11a852,#36af64,#38bb7a,#3abc91,
    #42bb93, #58c0a1,#61c4a6,#5fd39b,#6dcaab, #87ead0);
    background-attachment: fixed;
    border-radius: 20px;
    display: flex;
    height: 400px;
    align-items: center;
    }
    .imagens-objetivo{
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 50%;
    }
    #moldura{
        margin: auto;
        width: 90%;
        height: 370px;
        border-radius: 5px;
    }

#suporte-botao-suporte{
        background-image: linear-gradient(to bottom, #87ead0, #6dcaab, #5fd39b,#61c4a6, #58c0a1, #42bb93,#3abc91,
        #38bb7a,#36af64,#11a852, #33ad5a,#38a657,#2faf53,#38a657,#33ad5a,#11a852,#36af64,#38bb7a,#3abc91,
        #42bb93, #58c0a1,#61c4a6,#5fd39b,#6dcaab, #87ead0);
        background-attachment: fixed;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    height: 300px;
    align-items: center;
    text-align: center;
}

.picture{
    box-shadow: 1px 1px 80px #154e19;
    align-items: center;
}
/* Textual e bordas */

/* Apresentacao */
.apresentacao{
    background-color: rgb(65, 127, 185);
    border-radius: 8px;
    width: 80%;
    border-style: double;
    border-width: 5px;
    border-color: rgb(35, 77, 99);
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.texto-apresentacao{
    width: 90%;
    box-shadow: 2px 2px 9px rgba(22, 49, 22, 4);
    margin: auto;
    background-color: rgb(208, 253, 253);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* Sobre */
.sobre{
    background-color: rgb(65, 127, 185);
    border-radius: 8px;
    width: 80%;
    border-style: double;
    border-width: 5px;
    border-color: rgb(35, 77, 99);
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
#texto-sobre{
    width: 90%;
    box-shadow: 2px 2px 9px rgba(22, 49, 22, 4);
    margin: auto;
    text-align: justify;
    padding: 1px;
    padding-left: 1px;
    background-color: rgb(208, 253, 253);
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/* Objetivo */
.objetivo{
    background-color: rgb(65, 127, 185);
    border-radius: 8px;
    width: 80%;
    border-style: double;
    border-width: 5px;
    border-color: rgb(35, 77, 99);
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    justify-content: center;
}
.texto-objetivo{
    width: 90%;
    box-shadow: 2px 2px 9px rgba(22, 49, 22, 4);
    padding: 1px;
    margin: auto;
    background-color: rgb(208, 253, 253);
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.suporte{
    background-color: rgb(65, 127, 185);
    border-radius: 8px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(35, 77, 99);
    margin: auto;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    justify-content: center;
    width: 50%;
}
.texto-suporte{
    width: 90%;
    box-shadow: 2px 2px 9px rgba(22, 49, 22, 4);
    margin: auto;
    background-color: rgb(208, 253, 253);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.buttonSuporte{
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: right;
    list-style: none;
}

.buttons{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(211, 255, 194);
    height: 45px;
    width: 180px;
    border-radius: 5px;
    border-style: double;
    border-width: 5px;
    box-shadow: 0px 1px 10px #115e18;
    border-color: rgb(81, 252, 92);
    }
    .buttons :hover{
        background-color: rgb(63, 113, 41);
    }

/* Rodapé */
footer{
    background-color: rgb(65, 127, 185);
    position: absolute;
    left: 0;
    right: 0;
    }
    .rodape{
        text-align: center;
        display: flex;
        align-items: center;
    }
    .image-rodape1{
        width: 25%;
        text-align: left;
    }
    #copyright{
        width: 50%;
        font-size: 25px;
        font-family: roboto;
        color: aliceblue;
        text-shadow: 0px 0px 7px #000000;
        font-weight: 700;
    }
    .image-rodape2{
        width: 25%;
        text-align: right;
    }


.ajust_div{
    width:50%; 
    display: flex;
    justify-content: center;
    margin: auto;
}

.alinhar{
    background-color: #115e18;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-items:  center;
}